---
import Layout from '../layouts/Layout.astro';
import HeaderPresentation from "../components/presentation/header"
import FeaturePresentation from "../components/presentation/feature"
import LogosPresentation from "../components/presentation/logos"
import DevFreePresentation from "../components/presentation/developerFree"
import PalettePresentationFree from "../components/presentation/palette"
import CodePresentation from "../components/presentation/code"
import FreeToProPresentation from "../components/presentation/freeToPro"
import AstroPresentation from "../components/presentation/astro"
import PagesFreePresentation from "../components/presentation/pagesFree"
import GithubPresentation from "../components/presentation/github"
import PricingPresentation from "../components/presentation/pricing"
import FooterFreePresentation from "../components/presentation/footerFree"

---

<Layout title="Presentation Page">
	<main>
    <HeaderPresentation client:only="react" />
    <FeaturePresentation client:only="react" />
    <LogosPresentation client:only="react" />
    <DevFreePresentation client:only="react" />
    <PalettePresentationFree client:only="react" />
    <CodePresentation client:only="react" />
    <FreeToProPresentation client:only="react" />
    <AstroPresentation client:only="react" />
    <PagesFreePresentation client:only="react" />
    <PricingPresentation client:only="react" />
    <GithubPresentation client:only="react" />
    <FooterFreePresentation client:only="react" />
  </main>
</Layout>